.post-card	{
	max-width: 600px;
	line-height: 1;
	margin: 0 auto 2.5em auto;
	border-radius:2px;
	animation: 1.25s ease-out 0s 1 easeIn;
}

.post-card .infos-container {
	padding:0.5em 0.5em 0.25em 0.5em;
	max-width: 600px;
}

.post-card .card-infos {
    padding: 0;
    margin-bottom: 0.5em;
}

.post-card article {
	padding:0.5em 0 0 0;
	font-size: 0.90em;
	border-top:1px solid #e6e6e6;
}

.post-card .media:not(:last-child) {
	margin-bottom: 0.45rem;
}

.post-card .input {
	border:none;
	box-shadow:none;
	border-radius: 0;
	padding: 0;
}

.post-card .comment-input {
	border-top:1px solid #e6e6e6;
}

.post-card .comment-input .button {
	border:none;
	padding: 0;
	font-weight: bold;
	color: rgb(156, 156, 156);
}


.show_comments {
	padding:0;
	font-size: 0.80em;
	border: none;
	max-height: 1.5em;
}

.show_comments > a {
	color:grey;
}

.post-card .profil-pic {
	height: 40px;
	width: 40px;
	border: 2px solid rgb(31, 31, 31);
	padding:3px;
}

.post-card .card-header-title {
	padding:0.5rem;
}

.post-user-infos {
	margin-top: 0.3em;
}
.post-card .card-login {
	text-decoration: none;
}
.post-card .card-date {
	font-weight: normal;
	font-size: 0.75em;
	font-style:italic;
}

.card-image {
	background-color:grey;
}

/* COMMENT DISPLAY */

.comment .level {
	margin-bottom: 0.2rem;
}

.comment-login {
	margin-right: 0.2rem;
}

.comment-time {
	color: grey;
}


/* ANIMATIONS */

.unlike-btn:active {
	animation-name: example;
	animation-duration: 40s;
}

.unlike-btn:active {
	scale: 1.5;
	animation: effect_dylan 0.8s ease-out forwards;
	}
	  
	@keyframes effect_dylan {
		50% {
		  transform: scale(1.5, 1.5);
		  opacity: 0;
		}
		99% {
		  transform: scale(0.001, 0.001);
		  opacity: 0;
		}
		100% {
		  transform: scale(0.001, 0.001);
		  opacity: 1;
		}
	  }