.gallery-card	{
	max-width: 600px;
	line-height: 1;
	margin: 0 auto 2.5em auto;
	border-radius:2px;
}
  
.gallery-card .infos-container {
	padding:0.5em 0.5em 0.25em 0.5em;
	max-width: 600px;
}

.gallery-card .card-infos {
    padding: 0;
    margin-bottom: 0.5em;
}

.gallery-card article {
	padding:0.5em 0 0 0;
	font-size: 0.90em;
	border-top:1px solid #e6e6e6;
}

.gallery-card .media:not(:last-child) {
	margin-bottom: 0.45rem;
}

.gallery-card .input {
	border:none;
	box-shadow:none;
	border-radius: 0;
	padding: 0;
}

.gallery-card .comment-input {
	border-top:1px solid #e6e6e6;
}

.gallery-card .comment-input .button {
	border:none;
	padding: 0;
	font-weight: bold;
	color: #a1a1a1;
}


.show_comments, .hide_comments {
	padding:0;
	font-size: 0.80em;
	border: none;
	max-height: 1.5em;
	font-weight: bold;
	color: #a1a1a1;
}

.gallery-card .profil-pic {
	height: 40px;
	width: 40px;
	border: 2px solid #6a6a6a;
	padding:3px;
}

.gallery-card .card-header-title {
	padding:0.5rem;
}

.post-user-infos {
	margin-top: 0.3em;
}
.gallery-card .card-login {
	text-decoration: none;
}
.gallery-card .card-date {
	font-weight: normal;
	font-size: 0.75em;
	font-style:italic;
}

/* PROFIL CARD */

.profil-card {
	background:none;
	border: none;
	box-shadow: none;
}

.post-display	{
	border-top:1px solid #e6e6e6;
	padding: 2.5em 0;
}
.post-thumbnail {
	min-width:200px;
}

.post-thumbnail:hover {
	-webkit-filter: grayscale(70%);
}

.profil-container {
	max-width: 975px;
}