.card	{
	margin-bottom:2.5em;
}


.card-content {
	padding: 0.5em 1em;
}

.card article {
	padding:0 0 0 0.5em;
	font-size: 0.90em;
	margin:0px;
}

.card .comment-input {
	border-top:1px solid #e6e6e6;
	padding:0;
	margin:0;
}

.card .comment-input .button {
	border:none;
}
.card .input {
	border:none;
	box-shadow:none;
}
/* .card .textarea {
	resize:none;
	min-width: 100px;
	min-height: 30px;
	height:40px;
	width:100%;
	padding:7px;
	box-shadow:none;
	border:none;
} */