html, body	{
	background-color:#fafafa;
}

header {
	background-color:white;
	border-bottom:1px solid #e6e6e6;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000000;
}

a {
	color:#00c4a7;
}

a:hover {
	color:#01a088;
}

header + * + * {
	margin-top:53px;
}

#main_logo {
	padding-right:15px;
	margin-right:12px;
	border-right:solid 1px #00c4a7;
}

.title {
	font-family: 'Kaushan Script', cursive;
	font-size:1.75rem;
}

.card {
	border-radius: 3px;
}
.media + .media {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    margin-top: 0rem;
    padding-top: 0rem;
}

.navbar-item {
	padding: 0rem 0.75rem;
}

.button:focus:not(:active), .button.is-focused:not(:active) {
	outline:none;
	border: none;
	box-shadow: none;
}

.notification {
	padding: 0.75em;
}

.sign-container {
		background-color:white;
		box-shadow:0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
		max-width: 400px;
		font-size:0.8em;
		padding:0.75em;
}

.sign-container .content {
	text-align: center;
}

.sign-container .content .title {
	font-size: 2.5rem;
}

.sign-container .control .button {
	width: 100%;
}

#signup-section	{
	padding-bottom: 1rem;
}

#already-section {
	padding-top: 0rem;
}

#already-section .container {
	text-align: center;
	padding: 1.25rem;
}

#signup-input {
	margin-top: 0.5rem;
}

.notif {
	background-color: whitesmoke;
	border-radius: 4px;
	padding: 1.25rem 2.5rem 1.25rem 1.5rem;
	position: relative;
	padding: 0.75em;
	margin-bottom: 0.75rem;
}

.notification:not(:last-child) {
	margin-bottom: 0.75rem;
}

