html, body	{
	background-color:#fafafa;
	color:white;
}

header {
	background-color:white;
	border-bottom:1px solid #e6e6e6;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

header + * {
	margin-top:53px;
}

#main_logo {
	padding-right:15px;
	margin-right:12px;
	border-right:solid 1px black;
}

header .title {
	font-family: 'Kaushan Script', cursive;
	font-size:1.75rem;
}

.media + .media {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    margin-top: 0rem;
    padding-top: 0rem;
}

.navbar-item {
	padding: 0rem 0.75rem;
}