#overlay {
    max-width: 800px;
    max-height: 600px;
}

.webcam-section .card {
    max-width: 800px;
}

#post-btn {
    width: 100%;
    margin-bottom: 0.75em;
}

#post-view {
    flex-direction: column;
    padding: 0.75rem;
}

#post-view .image:not(:last-child) {
    margin-bottom: 0.75rem;
}

#render {
    max-width: 800px;
    padding: 0.75rem 0px;
}

#render .card-content   {
    padding: 0.75rem;
}

.stickers {
    height:100px;
    width:100px;
}

#nocam-card {
    margin-top: 0.6em;
}

#sticker {
    position:absolute;
    z-index:100;
}