.edit-container {
    background-color:white;
    box-shadow:0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
	max-width: 600px;
    font-size:0.8em;
    padding:0.75em;
}

.edit-container .control {
    display: inline-block;
    width: 63%;
}

.edit-container figure {
    width: 36%;
    margin: 0;
}

.edit-container label {
    display: inline-block;
    width: 36%;
    margin: 0;
}

.pic-edit {
    margin-bottom: 0.5em;
}

.pic-edit .title    {
    margin: 0.5em 0 0 0;
}

.pic-edit .image    {
    margin: 0 auto;
}

.label:not(:last-child) {
    margin: 0;
}
.edit-section {
	border-top:1px solid #e6e6e6;
    padding: 0.75em 0;
    margin-bottom: 0.5em;
}

.edit-section:last-child {
    margin: 0;
    padding-bottom: 0;
}

@media screen and (max-width: 600px) {
    .edit-container .blank {
      display: none;
    }
}